
    <div class="page-header" style="background-image: url('./assets/img/RecetApp/bg-register.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card ">
                          <h3 class="m-auto mt-4"  style="font-weight: bold;">Bienvenido!</h3>
                          <p class="m-auto">Registrate y comparti tu recetas!</p>
                         <div class="card-body">
                            <form >


                            </form>

                          </div>

                        
                      </div>
                    </div>
                </div>
            
            </div>
    </div>

